{% load static %}
{% load i18n %}
{% get_static_prefix as STATIC_URL %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru-RU" lang="ru-RU">

<head>
    <title>login</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/login.css" type="text/css" media="all" />

</head>
<body class="login">

    <div id="container">
        <div id="header">
            <div class="bg">
                <div>Elastic</div>
            </div>
        </div>
        <div id="content-main">
            <form action="/elastic/auth/login/" method="post" id="login-form">{% csrf_token %}
                <div class="form-row">
                    {% if not form.this_is_the_login_form.errors %}{{ form.username.errors }}{% endif %}
                    <label for="id_username" class="required">{{ form.username.label }}:</label> {{ form.username }}
                </div>
                <div class="form-row">
                    {% if not form.this_is_the_login_form.errors %}{{ form.password.errors }}{% endif %}
                    <label for="id_password" class="required">{{ form.password.label }}:</label> {{ form.password }}
                    <input type="hidden" name="this_is_the_login_form" value="1" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>
                <div class="submit-row">
                    <label>&nbsp;</label><input type="submit" value={% trans "Log in" %} />
                </div>
            </form>

            <script type="text/javascript">
                document.getElementById('id_username').focus()
            </script>
        </div>
        <div id="footer">
            <div class="copyright">&copy SB-Soft, Ltd. All right reserved</div>
        </div>
    </div>
</body>
</html>
