.auth-manager.dialog{
    position: relative;
    padding-bottom: 16px;
}
.auth-manager > .content{
    font-size: 20px;
    color: #696969;
    margin-bottom: 24px;
    padding-right: 4px;
}
.auth-manager .row{
    margin-bottom: 8px;
}
.auth-manager .row .input{
    width: 300px;
}
.auth-manager .row > div{
    margin-bottom: 4px;
}
.auth-manager .row > p{
    font-size: 12px;
    line-height: 1em;
}
.auth-manager .row > p:first-child{
    margin-top: 8px;
}
.auth-manager label{
    margin-right: 20px;
    font-size: 12px;
}
/********************* Tooltip Dialogs *********************/
#tooltip-dialog-login .dijitTooltipContainer{
    background-color: #017401;
}
#tooltip-dialog-login .dijitTooltipFocusNode{
    background-color: white;
}
#tooltip-dialog-login .dijitTooltipContainer .row:first-child{
    margin-top: 5px;
}
#tooltip-dialog-login .dijitTooltipContainer .row{
    margin-bottom: 7px;
}
#tooltip-dialog-login .dijitTooltipContainer .row:last-child{
    margin-bottom: 12px;
}
#tooltip-dialog-login .dijitTooltipContainer label{
    font-size: 10px;
    color: rgb(117, 117, 117);
    margin-bottom: 5px;
    display: block;
}
#tooltip-dialog-login .dijitTooltipContainer .dijitTextBox{
    width: 250px;
}
#tooltip-dialog-login .dijitTooltipFocusNode{
    padding: 5px;
}