<div class="auth-manager" data-dojo-attach-point='containerNode'>
    <a href="#" id="logout-button" data-dojo-attach-point="logoutButton" style="display: none;">Выход</a>
    <a href="#" id="registration-button" data-dojo-attach-point="registrationButton" style="display: none;"
       class="reg">Регистрация</a>
    <a href="#" id="login-button" data-dojo-attach-point="loginButton" style="display: none;">Вход</a>

    <div data-dojo-attach-point="registrationDialogNode"></div>
    <div data-dojo-attach-point="verifyDialogNode"></div>
    <div data-dojo-attach-point="loginDialog"></div>
</div>
