/* LOGIN FORM */

body.login {
    background: #eee;
}

.login #container {
    background: white;
    border: 1px solid #ccc;
    width: 28em;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.login #header {
    width: 100%;
    overflow: hidden;
    border: 2px solid #f5f5f5;
}
.login #header .bg{
    background-color: rgb(98, 98, 98);
    height: 41px;
    margin-right: 4px;
}
.login #header .bg div{
    padding: 12px 0 0 15px;
    color: #f5f5f5;
    font-size: 16px;
}
.login #footer {
    clear: both;
    padding: 10px;
}
.login #footer .copyright{
    font-size: 9px;
    text-align: right;
    margin-top: 10px;
    padding-right: 3px;
}
.login #content-main {
    width: 100%;
    padding-left: 18px;
}

.login form {
    margin-top: 1em;
}
.login .form-row {
    padding: 9px 0;
    float: left;
    width: 100%;
}
.login .form-row label {
    float: left;
    width: 9em;
    padding-right: 0.5em;
    /*line-height: 2em;*/
    text-align: right;
    font-size: 0.8em;
    color: #333;
}
.login .form-row #id_username, .login .form-row #id_password {
    width: 14em;
}
.login span.help {
    font-size: 10px;
    display: block;
}
.login .submit-row {
    clear: both;
    padding: 1em 0 0 7.4em;
}
